* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", serif;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #2D3134;
}

img {
    width: 100%;
}

.btn {
    color: #FFF;
    border-radius: 8px;
}

.btn-medium {
    font-family: Poppins;
    padding: 16px 26px;
    background-color: #31C3E0 ;
}

.btn-small {
    padding: 14px 20px;
    border-radius: 8px;
    background: var(--Color-1, #FF7B29);
}

.btn-big {
    padding: 24px 32px;
    background: var(--Color-1, #FF7B29);
    box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
}

.see-more {
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.container {
    margin: 0 auto;
    width: 1440px;
    padding: 32px 135px;
}

.link-line {
    position: relative;
}

.link-line::after {
    content: "";
    background-color: #FF7B29;
    width: 10px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.gap-34 {
    gap: 34px;
}

.gap-30 {
    gap: 30px;
}

.mg-20 {
    margin-top: 20px;
}

.mg-30 {
    margin-top: 30px;
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

header {
    a {
        color:#676A6C;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; 
    }
}

.logo {
    color: #212832;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    span:first-child {
        padding: 8.5px 7px;
        background-color:  #FF7B29;
        border-radius: 999px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    span:last-child {
        color: #FF7B29;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

}

.banner {
    position: relative;
    margin-top: 120px;
    text-align: center;
    h1 {
        color: #2D3134;
        text-align: center;
        font-size: 62px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px; 
    }
}

.shapes {
    width: 330.139px;
    height: 334.65px;
    position: absolute;
    top: -120px;
    left:400px;
}

.recent-articles {
    margin-top: 140px;
}

.exploring-img {
    width: 626px;
    height: 416px;
    flex-shrink: 0;
}

.img-blog {
    width: 100px;
    height: 90px;
    flex-shrink: 0;
}

.recent-articles-img {
    h2 {
        margin-top: 24px;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; 
    }
}

.recent-blog {
    padding: 30px 30px 44px 30px;
    border-radius: 10px;
    background: var(--Stock, #ECECEC);

    span {
        color: var(--Typography-1, #2D3134);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; 
    }
}

.search {
    input {
        width: 291px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid var(--Stock, #ECECEC);
        background: var(--White, #FFF);
        padding-left: 20px;
        outline: none;
    }

}

.search::placeholder {
    color: var(--Typography-2, #676A6C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.recent-blog-text {
    margin-top: 40px;
    color: var(--Typography-1, #2D3134);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.blog {
    margin-top: 30px;
    gap: 20px;
}

.blog-text {
    color: var(--Typography-1, #2D3134);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

.article-list {
    margin-top: 112px;
    h3 {
        a {
            color: var(--Typography-1, #2D3134);
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
        } 
    }

    p {
        margin-top: 16px;
        color: var(--Typography-2, #676A6C);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
}

.image-article {
    width: 370px;
    height: 300px;
    flex-shrink: 0;
}

.article-list-item  {
    flex-wrap: wrap;
}

.read-more {
    margin-top: 20px;
    color: var(--Color-1, #FF7B29);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
footer {
    margin-top: 140px;
}

.nav-inner-footer {
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
}

.item {
    color: #676A6C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 316.667% */
}

.link-footer {
    color: #020000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
}

.contact {
    margin-top: 85px;
    ul {
        li {
            a {
                color: #2D3134;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px; /* 114.286% */
            }
        }
    }
}

.icon-contact {
    font-size: 25px;
    display: flex;
    gap: 20px;
    color: #969696;
}

.email {
    color: #31C3E0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
}